body {
    background-image: url("images/ktlogo.gif");
    background-color: #101010;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 66%;
}
#survive-button img {
    float: right;
    height: 3vw;
    margin: 1vw 1vw 0 0;
}
@media only screen 
  and (max-device-width: 767px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    #survive-button img {
        float: right;
        height: 8vw;
        margin: 4vw 4vw 0 0;
    }
  }